<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
</head>

<body>
    <h1>SIGNUP</h1>
    <div>
        <form action="/user" method="post">
            <div>
                <label for="text">Enter your username:</label>
                <input type="text" name="name" id="text">
            </div>
            <div>
                <label for="email">Enter your Email:</label>
                <input type="email" name="email" id="email">
            </div>
            <div>
                <label for="password">Enter your password:</label>
                <input type="password" name="password" id="password">
            </div>
            <button type="submit">submit</button>
        </form>
    </div>
</body>

</html>